
<div class="page-title">
    <div class="title_left">
        <h3>Thêm mới phiếu nhập kho</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Điều kiện truy vấn</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-label-left input_mask">

                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Tên sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Mã phiếu nhập kho">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Mã sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Cán bộ làm phiếu">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Loại sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Sản phẩm">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group row" >
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Ngày nhập kho <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row" >
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Ngày lập phiếu <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="date-picker form-control" placeholder="dd-mm-yyyy" type="date" required="required">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Kích thước
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Kho hàng nhập">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Trọng lượng
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Kho hàng nhập">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Giá nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Kho hàng nhập">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Kho hàng nhập <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Kho hàng nhập">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group row">
                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Màu sắc <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" placeholder="Kho hàng nhập">
                        </div>
                    </div>

                    <div class="">
                        <div class="col-md-9 col-sm-9" style="margin-left:26%;padding-left:50%">
                            <button type="button" class="btn btn-primary">Ghi </button>
                            <button type="submit" class="btn btn-success">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>








